---
layout: default
---
{% assign posts_count = paginator.posts | size %}

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">
            {{ post.author }},
	    {% if site.date_format %}
	      {{ post.date | date: site.date_format }}
	    {% else %}
	      {{ post.date | date: "%b %-d, %Y" }}
	    {% endif %}:
	  </p>
          <style> h1 { font-size: 180%; } </style>
          <a href="{{ post.url | relative_url }}" class="post-link"><h1>{{ post.title }}</h1></a> <!--class="h1 post-title"-->
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
          <a href="{{ post.url | relative_url }}" class="post-link">(Read More)</a>
        </div>

      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
